html {
    width: 100% !important;
    height: 100% !important;
}

body {
    width: 100% !important;
    height: 100% !important;
    background-color: #E6E6E6;
    font-family: Myriad Pro;
}

a {
    color: #005DA4;
}

button:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 93, 174, 0.6) !important;
}

.form-control:focus {
    border-color: #005DA4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 93, 174, 0.6) !important;
}

.texto-centrado {
    text-align: center !important;
}

.fondo-azul {
    background-color: #005DA4;
    color: #FFFFFF;
}

.btn-verde {
    background-color: #6DC067;
    color: #FFFFFF;
}

    .btn-verde:hover {
        background-color: #008641;
        color: #FFFFFF;
    }

.btn-celeste {
    background-color: #00C0F3;
    color: #FFFFFF;
}

    .btn-celeste:hover {
        background-color: #80A9BC;
        color: #FFFFFF;
    }

.btn-borrar {
    color: #FFFFFF;
    background: #F37021;
}

    .btn-borrar:hover {
        background: #FFFFFF;
        color: #F37021;
        border: 1px solid #F37021;
    }

.icono-mono {
    font-family: monospace;
}

tr {
    padding-bottom: 15px;
}

.fondo-blanco {
    background: #FFFFFF;
}

.foto-perfil {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-bottom: -20px;
}

.foto-perfil-amigos {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 0px;
}

.nav-perfil .activo {
    background: #00C0F3;
}

.nav-perfil a {
    color: #FFFFFF !important;
}

.nav-perfil li:hover {
    background: #00C0F3;
}

.custom-select {
    border-radius: 0px .25rem .25rem 0px;
}

.custom-select-interes {
    border-radius: 0px;
}

.btn-redondo {
    border-radius: 0px .25rem .25rem 0px !important;
    border: 0px !important;
}


/* ....................................... */

.titulo-sec {
    font-family: "Myriad Pro" !important;
    font-size: 28px !important;
}

.btn-secundario-adicional {
    font-family: "Myriad Pro";
    background-color: #FFFFFF;
    color: #6DC067;
    border: 1px solid #6DC067 !important;
}

    .btn-secundario-adicional:hover {
        background-color: #DCDCDC;
    }


.item-scroll {
    overflow-y: auto;
    height: 200px;
}


.logo-vista-reportes {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.click {
    cursor: pointer;
}


.table-hover tbody tr:hover td {
    background-color: #B0E0E6;
}

.foto-vista-admin {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.btn-rechazar {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-rechazar:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

