
@model Proyecto_TruequesUCR.Models.Comerciante

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer Contraseña</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Master.css">
    <link rel="stylesheet" href="~/Content/template.css">
    <link rel="stylesheet" href="~/Content/General.css">
</head>
<body>
    <div class="container-fluid h-100 w-100 d-inline-block">
        <div class="row justify-content-center h-100 w-100">
            <div class="col-md-4 align-self-center">
                <div class="card">
                    <div class="card-header fondo-azul texto-centrado">
                        <h1>Reestablecer Contraseña</h1>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <form>
                                <!-- Correo Electrónico -->
                                <div class="form-row mb-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <p align="center">Inserte su direccion de correo principal, si esta concuerda con una cuenta registrada se le enviara una nueva contraseña por correo.</p>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text icono-mono">@@</span>
                                            </div>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @class = "form-control", @placeholder = "Correo Electrónico" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                                        </div>
                                    </div>
                                </div>

                                <!-- Botón de Reestablecer -->
                                <div class="form-row mb-3 justify-content-center">
                                    <div class="col-md-6">
                                        <button class="btn btn-verde w-100">Reestablecer mi contraseña</button>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

